Source: docker-py
Maintainer: VRT Systems <support@vrt.com.au>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 7)
Standards-Version: 3.9.1



Package: python-docker
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Replaces: python-docker-py
Description: Python client for Docker.




